<div class="container">
    <div class="row">
         <div class="col-md-1"></div>
         <div class="col-md-10 text-center">
              <button [hidden]="start_but" class="btn btn-success main_btn" (click)="start_game()">start game</button>
         <div [hidden]="!start_but"> <div class="container">
            <div class="row">
                 <div class="col-3">
                     <div class="row">
                        <div class="col-12 bg-danger mt-3 rounded hum1">Human</div>
                     </div>

                     <button (click)="paper()" class="btn btn-primary human">paper</button><br>
                     <button (click)="rock()" class="btn btn-primary human">rock</button><br>
                     <button (click)="scissor()"class="btn btn-primary human">scissor</button><br>
                    
                     </div>
                  


                     <div class="col-6 main_box text-center">
                        <h1>Main container</h1>

                            <div class="row">
                                <div class="col-6 game_vid">Human
                                      <img [src]="l_img_url" height="125px">
                                </div>
                                <div class="col-6 game_vid">Machine
                                    <img [src]="r_img_url" height="125px">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12"> <h2>match number:<span style="color:red;">{{t_match}} </span></h2> </div>
                            </div>
              
                            <div class="row">
                                <div class="col-6">
                                    <h2>Human</h2>
                                    <hr style="border: solid 2px;">
                                    <h4>win:
                                    <span style="color:brown;
                                          font-weight:700;
                                          background-color:pink;
                                    ">{{h_win}}score </span> </h4>
                                    <h4>draw:
                                         <span style="color:brown;
                                          font-weight:700;
                                          background-color:pink;
                                     ">{{h_draw}}score </span> </h4>
                                    <h4>loss:
                                         <span style="color:brown;
                                         font-weight:700;
                                         background-color:pink;
                                    ">{{h_lost}}score </span> </h4>
                                 </div>
                        
                                 <div class="col-6">
                                    <h2>Machine</h2>
                                    <hr style="border:solid 2px;">
                                    <h4>win:
                                    <span style="color:whitesmoke;
                                             font-weight:700;
                                             background-color:brown;
                                    ">{{m_win}}score </span> </h4>

                                     <h4>draw:
                                        <span style="color:whitesmoke;
                                             font-weight:700;
                                             background-color:brown;
                                    ">{{m_draw}}score </span> </h4>
                                    <h4>loss:
                                        <span style="color:whitesmoke;
                                            font-weight:700;
                                            background-color:brown;
                                        ">{{m_lost}} score </span> </h4>
                                     </div>
                                </div>
                           </div>
                           <div class="col-md-3">
                              <div class="row">
                                <div class="col-12 bg-danger mt-3 rounded hum1">Machine</div>
                           </div>



                           <button class="btn btn-primary human">paper</button><br>
                           <button class="btn btn-primary human">rock</button><br>
                           <button class="btn btn-primary human">scissor</button><br>
                    

                     </div>
                </div>
          </div>
    </div>
        
       
</div>
<div class="col-md-1"></div>
</div>
</div>

